.back {
    color: blue;
    font-family: fantasy;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: black;
    padding: 5px;
    border: 4px solid darkblue;
    border-radius: 25px;
    transition: padding .2s;
    position: absolute;
    top: 10px;
}

.back:hover {
    padding: 7px;
}

html,body, header {
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 10px;
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

#touching {
    position: relative;
    width: 100%;
    height: 200px;
}

.touch {
    padding: 10px;
    color: white;
    background-color: white;
    position: absolute;
    font-size: 13px;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
}

#touch {
    right: 15px;
    top: 65px;
}

#touch-harder {
    top: 100px;
    display: none;
}

#maze {
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid red;
    display: block;
}

h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#door {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    font-weight: bold;
    color: #000;
    background-color: rgb(82, 255, 47);
    padding: 10px;
    border-radius: 15px;
    transition: padding .2s, margin-bottom .2s;
}

#door:hover {
    padding: 12px;
    margin-bottom: -4px;
}