.back {
    color: red;
    font-family: fantasy;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: whitesmoke;
    padding: 5px;
    border: 4px solid darkred;
    border-radius: 25px;
    transition: padding .2s;
    position: absolute;
    top: 10px;
}

.back:hover {
    padding: 7px;
}

html,body, header {
    background-color: black;
    position: relative;
}

body {
    height: 100vh;
    margin: 0;
    padding: 10px;
}

main {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

#eyes {
    position: absolute;
    right: 0;
    border: 1px solid black;
    background-color: black;
    color: black;
    cursor: pointer;
}

p {
    color: black;
    width: 75%;
    text-align: center;
}

#second {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#textinput, #submit {
    border: 2px solid black;
}

#textinput{
    background-color: red;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

#submit {
    background-color: black;
    color: red;
}

#label {
    font-weight: bold;
}

#message {
    margin-top: 25px;
    font-weight: bolder;
}